body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #fcfcfc;
  max-width: 720px;
}

a {
  color: #00B7FF;
}

button, .btn {
    background-color: #E6E6E6;
    border: transparent;
    color: rgba(0,0,0,.8);
    padding: .5em 1em;
    font-size: 100%;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    margin: 10px 0;
}
button:focus, button:hover, .btn:focus, .btn:hover {
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}
button:active, .btn:active {
    border-color: #000;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset, 0 0 6px rgba(0,0,0,.2) inset;
}
button.btn {
    outline: none;
}

form {
}

input {
  font-size: 18px;
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.card {
    margin: .5rem 0 1rem 0;
    padding: 24px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

#main-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 10px;
}

#temple-list {
  width: 300px;
  margin-right: 10px;
}

#map {
  height: 500px;
  width: 100%;
  margin-left: 10px;
  position: relative;
}

#map > div {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
#bottom-layer-map {
  background-image: url("../utahTemples.jpg");
}
#bountiful-map {
  background-image: url("../bountiful.png");
}
#brighamCity-map {
  background-image: url("../brighamCity.png");
}
#draper-map {
  background-image: url("../draper.png");
}
#jordanRiver-map {
  background-image: url("../jordanRiver.png");
}
#logan-map {
  background-image: url("../logan.png");
}
#manti-map {
  background-image: url("../manti.png");
}
#monticello-map {
  background-image: url("../monticello.png");
}
#mountTimpanogos-map {
  background-image: url("../mountTimpanogos.png");
}
#ogden-map {
  background-image: url("../ogden.png");
}
#oquirrhMountain-map {
  background-image: url("../oquirrhMountain.png");
}
#payson-map {
  background-image: url("../payson.png");
}
#provoCityCenter-map {
  background-image: url("../provoCityCenter.png");
}
#provo-map {
  background-image: url("../provo.png");
}
#stGeorge-map {
  background-image: url("../stGeorge.png");
}
#saltLake-map {
  background-image: url("../saltLake.png");
}
#vernal-map {
  background-image: url("../vernal.png");
}

#saveNote {
  color: #ddd;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 4px;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 100px;
  left: 150px;
}
